body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
  
.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
.cards-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
}
  
.cards {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 290px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.cards > img {
    width: 160px;
    height: 160px;
}

 
.cards:hover {
    transform: translateY(-10px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 4px 8px 0px, rgba(60, 64, 67, 0.15) 0px 6px 12px 4px;
}
  
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}
  
.slider-button.left {
    left: 50px;
    font-size: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
  
.slider-button.right {
    right: 60px;
    font-size: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.cards > p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.bolder{
    font-weight: 600;
    font-size: 13px;
}